{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Aqui van los Metadatos (Datos que no se muestran en Pantalla)-->
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Pagina buenisima">
    <title>Odepa</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'img/descarga.jpg' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans' %}">
    <link rel="stylesheet" href="{% static 'http://weloveiconfonts.com/api/?family=fontawesome|typicons' %}"> 
</head>
<body>
    <header>
        
        <div class="contenedor">
            <article class="titulo"><a href="post_list.html"><h1> Odepa
            </h1></a></article>
            <input type="checkbox" id="menu-bar"> 
            <label class="icon-list" for="menu-bar"> </label>
            <nav class="menu">
                <a href="post_list.html">Inicio</a>
                <a href="formulario.html">Inscripción</a>
                <a href="login.html">Inicia Sesion</a>
                <a href="http://www.municipalidadmaipu.cl/informacion-de-contacto/">Contacto Maipu</a>
            </nav>

        </div>
            
    </header>

    <main>
        <section id="banner">
            <div class="contenedor">
            <div class="container">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                      </ol>
                  
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        
                            <div class="item active" >
                                <a href="http://www.municipalidadmaipu.cl/">
                            <img src="{% static 'img/cat.png' %}" alt="Perro reubicado numero 1">
                                </a>
                            </div>
                
                        
                            <div class="item">
                                    <a href="http://www.municipalidadmaipu.cl/">
                            <img src="{% static 'img/cat1.jpg' %}" alt="Perro reubicado numero 2">
                                    </a>
                            </div>
                        
                        
                        <div class="item">
                                <a href="http://www.municipalidadmaipu.cl/">
                          <img src="{% static 'img/cat2.jpg' %}" alt="Perro reubicado numero 3">
                                </a>
                        </div>
                        
                        
                        <div class="item">
                                <a href="http://www.municipalidadmaipu.cl/">
                            <img src="{% static 'img/cat3.jpg' %}" alt="Perro reubicado numero 3">
                                </a>
                        </div>
                        
                        <div class="item">
                                <a href="http://www.municipalidadmaipu.cl/">
                            <img src="{% static 'img/cat4.jpg' %}" alt="Perro reubicado numero 3">
                                </a>
                        </div>
                        
                    
                      </div>
                  
                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
                  
        </section>

        <section id="Bienvenidos">
            <div class="contenedor">
                    <h2>Odepa</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
            </div>
            
        </section>
        
        <section id="blog">
                <div class="titulo_blog"><h2>Mantente informado con lo último</h2></div>
            <div class="contenedor">
                <article>
                    <img src="{% static 'img/img1.jpg' %}" alt="Eventos">
                    <h4>Eventos</h4>
                </article>
                <article>
                    <img src="{% static 'img/img2.jpg' %}" alt="Talleres">
                    <h4>Talleres</h4>
                    
                </article>
                <article>
                    <img src="{% static 'img/img3.jpg' %}" alt="Beneficios">
                    <h4>Beneficios</h4>
                </article>
            </div>
        </section>

    </main>
    <footer>

        <div class="contenedor">
            <table> 
                    
                <article class="sociales">
                

                <a class="icon-facebook-squared"href="https://www.facebook.com/"></a>
                <a class="icon-twitter-1" href="https://twitter.com/?lang=es"></a>
                <a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a>
                <a class="icon-googleplus-rect" href="https://plus.google.com/discover?hl=es"></a>
                    
                </article>
            
                <div>
                        <tr>
                            <td>Teléfono Contacto:</td>
                             <td>
            
                                <!-- Hipervínculo con llamada -->
                                <a href="tel:+56988888888">
                                    +56 9 8 888 88 88
                                </a>
            
                            </td>
                        </tr>
            
                        <tr>
                            <td>Mail:</td>
                            <td>
            
                                <a href="mailto:Alexis@alumnos.duoc.cl">
                                    Alexis@alumnos.duoc.cl
                                </a>
            
                            </td>
                        </tr>
                </div>
                <p class="copy">Odepa &copy; 2019</p>
                
            </table>
        
            
               
        </div>
           
    </footer>
</body>    
</html>