
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Open Sans', sans-serif;
  }
  #map{
      width: 45%;
      border: solid black 2px;
  }
  #butmap{
      background: rgba(0,0,0,0.7);
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      border: solid black 2px;
      width: 33.33%;
      margin-left: 33.33%;
      margin-right: 33.33%;
      
  }
  #butmap:hover{
      background: rgb(141, 132, 132);
  }
  
  header {
      /* mi tamaño estandar de header */
      width: 100%;
      background: #8702a8;
      color: #fff;
      height: 13%;
      /* menu estatico */
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      border-bottom: black solid 1px;
  
      
  }
  #myCarousel
  {
      height: 100%;
  }
  .contenedor {
      width: 97%;
      margin: auto;
  } 
  .titulo :hover{
      cursor: pointer;
      color: black;
     
  }
  .titulo a
  {
      color: #fff;
      
  }
  
  
  
  h1 {
      float: left;
      
  }
  
  
  header .contenedor {
      display: table;
  }
  
  
  section {
      width: 100%;
      margin-bottom: 25px;
  }
  #Bienvenidos h2 {
      text-align: center;
  }
  #Bienvenidos {
      font-size: 18px;
      text-align: justify;
      background-color:#8702a8;
      color: #f7ca44;
      text-shadow: rgb(0, 0, 0) 1cm;
      border: solid;
      border-color: black;
  }
  #Bienvenidos p{
      color: #d5eeff;
      
  }
  
  footer{
      background-color: #fff;
      font-size: 18px;
      margin-top: 30px;
  }
  footer a {
      color: black;
  }
  footer .contenedor {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 25px;
  }
  
  .copy {
      font-size: 20px;
  }
  
  .sociales {
      width: 100%;
      text-align: center;
      font-size: 28px;
  }
  
  .sociales a {
      color: #333;
      text-decoration: none;
  }
  .icon-googleplus-rect:hover{
      color: red;
  }
  .icon-instagram:hover{
      color: brown;
  }
  .icon-facebook-squared:hover{
      color: blue;
  }
  .icon-list:hover{
      color: rgb(151, 151, 150);
  }
  
  @media (min-width:768px) { 
      .sociales {
          width: auto;
      }
      
      footer .contenedor {
          justify-content: space-between;
      }
  }
  
  
  @media (min-width:1024px) {
      .contenedor {
          width: 1000px;
      }
      #info{
          font-size: 18px;
      }
      #Bienvenidos{
          font-size: 18px;
      }
  }
  
  
  
  
  
  
  
  